:root {
  --header-bgc: rgb(231, 231, 193);
  --sidebar-bgc: rgb(167, 195, 248);
  --main-bgc: rgb(250, 245, 245);
  --header-btn-bgc: rgb(142, 142, 217);
  --header-btn-hover-bgc: rgb(88, 88, 195);
  --profile-pic-bgc: rgb(153, 223, 244);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* HEADER SECTION */

.header-bar {
  background-color: var(--header-bgc);
  height: 100px;
  display: flex;
  justify-content: space-around;
  gap: 30%;
}

.logo-container {
  border: 1px solid black;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-img {
  height: 90%;
  flex: 1;
}

.logo-text {
  flex: 2;
}

.btns-container {
  border: 1px solid black;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding-right: 2%;
}

.header-btn {
  margin: 0 10px;
  flex: 1;
  background-color: var(--header-btn-bgc);
  text-align: center;
  color: white;
  padding: 0.5rem;
  border-radius: 2rem;
}

.header-btn:hover {
  background-color: var(--header-btn-hover-bgc);
  cursor: pointer;
}

.profile-pic-container {
  border: 3px solid black;
  flex: 1;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--profile-pic-bgc);
}

.profile-pic-container:hover {
  cursor: pointer;
}

.profile-img {
  height: 80%;
}

/* BOTTOM SECTION */

.content {
  display: flex;
  width: 100%;
  height: 700px;
}

/* SIDEBAR SECTION */

.side-bar {
  background-color: var(--sidebar-bgc);
  flex: 1;
}

/* MAIN SECTION */

.main-content {
  background-color: var(--main-bgc);
  flex: 3.5;
}

.add-new-task-container {
  position: absolute;
  top: 110px;
  right: 1rem;
}

.add-new-task-container:hover {
  cursor: pointer;
}

.add-new-task-icon {
  height: 7rem;
}

.task-container {
  border: 1px solid black;
}
